body {
  margin: 0;
  padding: 0;
  display: flex;
}

.nav--container {
  height: 70px; 
  background-color: #FFFFFF;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.main-container {
  height: 853px; 
  width: 550px;
  margin: 30px auto auto auto;
  padding: 0px;
}

.nav--air-bnb-logo {
  margin: 22px 0px 22px 30px;
}

.upper--main-container {

}

.upper--content {

}

.upper--double-container {

}

.upper--single-photo {

}

.upper--single-photo-container {

}

.upper--title {

}

.upper--top-img {

}