body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  background-image: url(../src/assets/pexels-moose-photos-1037992.jpg);
  background-size: cover;
  /* background-color: #FFFFFF; */
}

div:nth-child(5) > img.upper--top-img, div:nth-child(5) > img.upper--bottom-img {
  margin: 8px 0px 0px 0px;
}

.nav--container {
  height: 70px; 
  background-color: #FFFFFF;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
  border-radius: 10px 10px 0px 0px;
}

.main-container {
  height: 853px; 
  width: 550px;
  margin: 30px auto auto 0px;
  padding: 0px;
  background-color: #FFFFFF;
  box-shadow: 0px 3px 22px 0px rgba(130,126,126,0.79);
  -webkit-box-shadow: 0px 3px 22px 0px rgba(130,126,126,0.79);
  -moz-box-shadow: 0px 3px 22px 0px rgba(130,126,126,0.79);
  border-radius: 10px;
}

.nav--air-bnb-logo {
  margin: 22px 0px 22px 30px;
}

p {

}

.upper--main-container > div:nth-child(4) {
  position: relative;
  top: -12px;
}

.upper--main-container > div:nth-child(2) {
  position: relative;
  top: -5px;
}

.upper--main-container > div:nth-child(5) {
  position: relative;
  top: 6px;
}

.upper--main-container > div:nth-child(3){
  position: relative;
  top: 18px;
}

.upper--main-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding-top: 26px;
  margin: auto;
  width: 410px;
}

.upper--content {
  position: relative;
  width: 320px;
  height: 56px;
  left: -34px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 110%;
  color: #222222;
  margin: 0;
}

.upper--double-container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.upper--single-photo {
  margin: 8px 8px 0px 0px;
}

.upper--single-photo-container {
  position: relative;
  top: 36px;
}

.upper--title {
  position: relative;
  width: 347px;
  height: 40px;
  left: -34px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 110%;
  color: #000000;
  margin: 32px 0 16px 0;
}

.upper--top-img {
  margin: 8px 8px 0px 0px;
}

.upper--bottom-img {
  margin: 8px 8px 0px 0px;
}



